<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="Img/chevron.svg"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore et adipisci
    totam quod id ipsam quaerat exercitationem, cumque ea. Beatae illo nemo
    recusandae possimus sunt non expedita obcaecati, aut vero.
  </div>
</div>
